.container{background-color:#f9bdf3;
    margin-top: 15%;
    width: max-content;
    height: 500px;
    margin-bottom: 15%;
}
    h1{text-align: center;
    
    font-family: Brush Script MT
    , cursive;}

   h2{ text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: rgb(250, 54, 201);}
    
    /* Heart styles */
    .heart {
        width: 100px;
        height: 100px;
        background-color:rgb(250, 54, 201) ;
        position: absolute;
        top: 50%;
        left: 25%;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
    ;
    }
    
    .heart:before,
    .heart:after {
        content: '';
        position: absolute;
        width: 100px;
        height: 100px;
        background-color: rgb(250, 54, 201);
        border-radius: 50%;
    }
    
    .heart:before {
        top: -50px;
        left: 0px;
    }
    
    .heart:after {
        left: 50px;
        top: 0;
    }
    
    
    
    .note {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(250, 54, 201);
        border: 1px solid #ccc;
        padding: 20px;
        width: 415px;
        height: 425px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
        transition: opacity 0.3s ease, transform 0.3s ease;
        justify-content: center;
        
    }
    
    .note textarea {
        width: 100%;
        height: 100%;
        border: 1px solid #ccc;
        padding: 10px;
        font-size: 16px;
        font-family: 'papyrus';
        pointer-events: none;
        text-shadow: #f9bdf3;
        font-style: italic;
    }
    
    .close-note {
        background-color: #ff6666;
        color: white;
        padding: 5px 10px;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    
    .close-note:hover {
        background-color: #d00202;
    }
    
    /* Hover animation for the heart */
    .heart:hover {
        transform: rotate(-45deg) scale(1.1);
    }
    